<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <!--%= render "customers/shared/error_messages", resource: resource %>-->

   <div class="field">
    <%= f.label :last_name, '(性)' %>
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.label :first_name, '(名)' %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :last_name_kana, '(セイ)' %>
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.label :first_name, '(メイ)' %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
   
  
  <div class="field">
    <%= f.label :email  %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :postal_code  %>
    <%= f.email_field :postal_code, autofocus: true, autocomplete: "郵便番号" %>
  </div>
  
  <div class="field">
    <%= f.label :address  %>
    <%= f.email_field :address, autofocus: true, autocomplete: "住所" %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.email_field :phone_number, autofocus: true, autocomplete: "電話番号(ハイフンなし)" %>
  </div>
  
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



<!--%= render "customers/shared/links" %>-->
