<div class="container">
  <div class="row my-4">
   <div class="col">
    <h5>管理者ログイン</h5>
  </div>
</div>

<div class="table table-borderless">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <tr>
      <div class="field">
        <th><%= f.label :メールアドレス %></th>
        <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
      </div>
  

     <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
     </tr>

  <!--< if devise_mapping.rememberable? %>-->
    <!--<div class="field">-->
    <!--  <= f.check_box :remember_me %>-->
    <!--  <= f.label :remember_me %>-->
    <!--</div>-->
  <!--< end %>-->

  <div class="actions">
    <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>

<!--%= render "admins/shared/links" %>-->
