<div class="container mt-3">
  <h5 class="col-md-2 bg-light text-center">
    <%= @customer.last_name %> <%= @customer.first_name %>さんの詳細
  </h5>
  <div class="row">
    <div class="col-md-8 mx-auto w-auto">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
              <p class="text-success">有効</p>
              <% else %>
              <p class="text-danger">退会</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "編集", edit_admin_customer_path(@customer), class: "btn btn-success" %></td>
            <td><%= link_to "注文履歴一覧を見る", admin_path(index: 0, customer_id: @customer.id), class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>