 <div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h2>商品一覧 <span class="small">(全<%= @product_count %>件)</span></h2>
    </div>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-xl-3 mb-4">
        <div class="card w-100 bg-transparent border-0 justify-content-between" style="width: 18rem;" >
            <div class="image-photo"><%= attachment_image_tag(product, :image, :fill, 240, 180, class: "card-img-top img-fluid",fallback:"no-image.png" )%></div>
            <div class="card-body flex-grow-1 d-flex flex-column justify-content-between">
              <%= link_to product_path(product), class: "text-reset stretched-link" do%>
                <h5 class="card-title"><%= product.name %></h5>
              <% end %>
              <div class="card-text">
                <%= (product.price*1.1).round.to_s(:delimited) %>円<small>(税込)</small>
                <% if product.is_sale == true %>
                  <div class="text-success">販売中</div>
             　  <% else %>
             　    <div class="text-black-50">売り切れ</div>
            　   <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
    <div class="col align-self-center">
      <%= paginate @products%>
      </div>
</div>
