<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product.id) %></td>
        <td><%= product.price.to_s(:delimited) %></td>
        <td><%= product.genre.name %></td>
        <% if product.is_sale == true %>
         <td class="text-success">
           <%= product.is_sale_to_string %>
         </td>
        <% else %>
         <td class="text-secondary">
           <%= product.is_sale_to_string %>
         </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>