<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div id"wrapper">
    <%= render 'layouts/header' %>
      <main>
        <% if flash[:notice] %>
          <div class="flash">
          <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
